@model SIRE.Administracion.UI.MVC.Models.Productos.ProductosModelConsulta
@using SIRE.Administracion.UI.MVC.Utilitarios;
@{
    ViewBag.Title = "Mantenimiento de Productos: Búsqueda";
    Layout = "~/Views/Shared/_LayoutMantenimiento.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {

        window.parent.parent.dispararBloqueo();
    });

    var estadosDisponibles = 'EDITAR,ELIMINAR,ACTIVAR';
    var mainTableContainer = "ProductosTableContainer";

    function IrEditar(llave, valor) {
        window.parent.parent.dispararEditar(llave, valor);
    }

    function IrAccion(objetoAcciones) {
        var key;
        debugger;
        key = objetoAcciones.val();
        value = objetoAcciones.parent().parent().attr("data-record-key")

        var $row = $('#' + mainTableContainer).jtable('getRowByKey', value);

        $('#' + mainTableContainer).jtable('selectRows', $row);

        if (key == "btnEditar") {
            IrEditar(key, value);
        }

        if (key == "btnEliminar") {

            if (!confirm('El registro será eliminado. ¿Desea continuar?')) {
                return;
            }

            $.post(

                '@Url.Action("Eliminar", "Productos")',        // URL a la acción
			    { codigo: value },
			    function (data) {                    // Función de retorno exitoso

			        if (data.Result == "OK") {

			            MostrarMensaje('prueba', '', 'I');
			        }
			        else {
			            MostrarMensaje("Se ha producido un error al eliminar el registro", "", "E");
			        }

			    }
                );

            $('#' + mainTableContainer).jtable('load', {
                tCodProductoBus: $('#CodProducto').val(),
                tDesProductoBus: $('#DesProducto').val(),
                tCategoriaProductoBus: $('#CategoriaProducto').val(),
                tTipoProductoBus: $('#TipoProducto').val(),
                tMarcaBus: $('#Marca').val()
            });

        }


        objetoAcciones.val("");

        return true;
    }
</script>

@using (Ajax.BeginForm("Buscar", "Productos", new AjaxOptions
{
    HttpMethod = "GET",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "searchResults"
}))
{
    <table>
        <tr>
            <td>
                <div>@Html.LabelFor(model => model.CodProducto)</div>
            </td>

            <td>
                <div>@Html.TextBoxFor(model => model.CodProducto)</div>
            </td>
        </tr>


        <tr>
            <td>
                <div>@Html.LabelFor(model => model.DesProducto)</div>
            </td>

            <td>
                <div>@Html.TextBoxFor(model => model.DesProducto)</div>
            </td>
        </tr>
        <tr>
            <td>
                <div>@Html.LabelFor(model => model.CategoriaProducto)</div>
            </td>
            <td>
                <div>@Html.DropDownListFor(model => model.CategoriaProducto, new SelectList(ViewBag.ComboCategoriaProducto, "VALUE", "TEXT"), Etiquetas.GenSeleccionar)</div>

            </td>
        </tr>

        <tr>
            <td>
                <div>@Html.LabelFor(model => model.TipoProducto)</div>
            </td>
            <td>
                <div>@Html.DropDownListFor(model => model.TipoProducto, new SelectList(ViewBag.ComboTipoProducto, "VALUE", "TEXT"), Etiquetas.GenSeleccionar)</div>

            </td>
        </tr>

        <tr>
            <td>
                <div>@Html.LabelFor(model => model.Marca)</div>
            </td>
            <td>
                <div>@Html.DropDownListFor(model => model.Marca, new SelectList(ViewBag.ComboMarca, "VALUE", "TEXT"), Etiquetas.GenSeleccionar)</div>

            </td>
        </tr>
    </table>

    <table>
        <tr>
            <td>
                <div>
                    <button id="btnBuscar" type="submit">Buscar</button>
                    <button id="btnNuevo" onclick="IrEditar('Editar', 0)">Nuevo</button>
                </div>
            </td>
        </tr>
    </table>
}

<div id="ProductosTableContainer" class="contenedorGrid"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#' + mainTableContainer).jtable({
            paging: true,
            sorting: true,
            pageSize: 10,
            defaultSorting: '',
            defaultDateFormat: 'dd/mm/yy',
            actions: {
                listAction: '@Url.Action("Buscar")'
            },
            fields: {
                Acciones: {
                    title: "Acciones",
                    width: '1%',
                    create: true,
                    edit: true,
                    visibility: "fixed",
                    sorting: false,
                    display: function (data) {

                        var controles;

                        controles = '<select id="Acciones" name="Acciones" class="context-menu-accionesCombo" onchange="IrAccion($(this))"><option value=""></option><option value="btnEditar">Editar</option><option value="btnEliminar">Eliminar</option></select>';

                        return controles;

                    }
                },
                ConProducto: {
                    key: true,
                    width: '10%',
                    visibility: "hidden"
                },
                EstadoPorProceso: {
                    key: false,
                    width: '10%',
                    title: "Estado"
                },
                CodProducto: {
                    key: false,
                    title: "Código"
                },
                DesProducto: {
                    key: false,
                    title: "Descripción"
                },
                MinimoStock: {
                    key: false,
                    title: "Mínimo Stock"
                },
                MaximoStock: {
                    key: false,
                    title: "Máximo Stock"
                }
                ,
                NuevoInventario: {
                    key: false,
                    title: "Nuevo Inventario"
                }
                ,
                CategoriaProducto: {
                    key: false,
                    title: "Categoría Producto"
                }
                ,
                TipoProducto: {
                    key: false,
                    title: "Tipo Producto"
                }
                ,
                Marca: {
                    key: false,
                    title: "Marca"
                }
            }
        });

        $('#btnBuscar').click(function (e) {
            e.preventDefault();

            $('#' + mainTableContainer).jtable('load', {
                tCodProductoBus: $('#CodProducto').val(),
                tDesProductoBus: $('#DesProducto').val(),
                tCategoriaProductoBus: $('#CategoriaProducto').val(),
                tTipoProductoBus: $('#TipoProducto').val(),
                tMarcaBus: $('#Marca').val()
            });
        });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}