@model SIRE.Administracion.UI.MVC.Models.Generales.TiposProductosModelConsulta
@using SIRE.Administracion.UI.MVC.Utilitarios;
@{
    ViewBag.Title = "Mantenimiento de Tipos de Productos: Búsqueda";
    Layout = "~/Views/Shared/_LayoutMantenimiento.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {

        window.parent.parent.dispararBloqueo();
    });

    var estadosDisponibles = 'EDITAR,ELIMINAR,ACTIVAR';
    var mainTableContainer = "TiposProductosTableContainer";

    function IrEditar(llave, valor) {
        window.parent.parent.dispararEditar(llave, valor);
    }

    function IrAccion(objetoAcciones) {
        var key;
        debugger;
        key = objetoAcciones.val();
        value = objetoAcciones.parent().parent().attr("data-record-key")

        var $row = $('#' + mainTableContainer).jtable('getRowByKey', value);

        $('#' + mainTableContainer).jtable('selectRows', $row);

        if (key == "btnEditar") {
            IrEditar(key, value);
        }

        if (key == "btnEliminar") {

            if (confirm(remplazarCaracteresEspeciales('El registro será eliminado. ¿Desea continuar?'))) {
                $('#' + mainTableContainer).jtable('deleteRecord', {
                    key: value,
                    url: '@Url.Action("Eliminar")',
                    success: function (data) {
                        if (data.Result == "OK") {
                            MostrarMensaje('El registro ha sido eliminado satisfactoriamente.', '', 'C')
                        }
                        else {
                            MostrarMensaje('Ha ocurrido un problema no controlado al intentar eliminar el registro.', data.Message, 'E')
                        }
                    }
                });
            }
        }

        if (key == "btnActivar") {
            if (confirm(remplazarCaracteresEspeciales('El registro será activado. ¿Desea continuar?'))) {
                $('#' + mainTableContainer).jtable('deleteRecord', {
                    key: value,
                    url: '@Url.Action("Activar")',
                    success: function (data) {
                        if (data.Result == "OK") {
                            MostrarMensaje('El registro ha sido activado satisfactoriamente.', '', 'C')
                        }
                        else {
                            MostrarMensaje('Ha ocurrido un problema no controlado al intentar activar el registro.', data.Message, 'E')
                        }
                    }
                });
            }
        }

        objetoAcciones.val("");

        return true;
    }
</script>

@using (Ajax.BeginForm("Buscar", "TiposProductos", new AjaxOptions
{
    HttpMethod = "GET",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "searchResults"
}))
{
    <table>
        <tr>
            <td>
                <div>@Html.LabelFor(model => model.DesTipoProductoBus)</div>
            </td>

            <td>
                <div>@Html.TextBoxFor(model => model.DesTipoProductoBus)</div>
            </td>
        </tr>

                
        <tr>
            <td>
                <div>@Html.LabelFor(model => model.CategoriaProductoBus)</div>
            </td>

            <td>
               <div>@Html.DropDownListFor(model => model.CategoriaProductoBus, new SelectList(ViewBag.ComboCategoriaProducto, "VALUE", "TEXT"), Etiquetas.GenSeleccionar, new { @class = "CampoDropdownlist" })</div>
           
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <td>
                <div>
                    <button id="btnBuscar" type="submit">Buscar</button>
                    <button id="btnNuevo" onclick="IrEditar('Editar', 0)">Nuevo</button>
                    <button id="btnSalir">Salir</button>
                </div>
            </td>
        </tr>
    </table>
}

<div id="TiposProductosTableContainer" class="contenedorGrid"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#' + mainTableContainer).jtable({
            paging: true,
            sorting: true,
            pageSize: 10,
            defaultSorting: '',
            defaultDateFormat: 'dd/mm/yy',
            actions: {
                listAction: '@Url.Action("Buscar")'
            },
            fields: {
                Acciones: {
                    title: "Acciones",
                    width: '1%',
                    create: true,
                    edit: true,
                    visibility: "fixed",
                    sorting: false,
                    display: function (data) {

                        var controles;

                        controles = '<select id="Acciones" name="Acciones" class="context-menu-accionesCombo" onchange="IrAccion($(this))"><option value=""></option><option value="btnEditar">Editar</option><option value="btnEliminar">Eliminar</option></select>';

                        return controles;

                    }
                },
                ConTipoProducto: {
                    key: true,
                    width: '10%',
                    title: "Código"
                },
                DesTipoProducto: {
                    key: false,
                    width: '80%',
                    title: "Descripción"
                },
                DesCategoriaProducto: {
                    key: false,
                    width: '80%',
                    title: "Categoría Producto"
                }
            }
        });

        $('#btnBuscar').click(function (e) {
            e.preventDefault();

            $('#' + mainTableContainer).jtable('load', {
                tDesTipoProductoBus: $('#DesTipoProductoBus').val(),
                tCategoriaProductoBus: $('#CategoriaProductoBus').val(),
            });
        });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}