@using SIRE.Administracion.UI.MVC.Utilitarios;
<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11">

    <title>@ViewBag.Title - My ASP.NET MVC Application</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @*<link href="~/Content/Bootstrap/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/Bootstrap/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Bootstrap/animate.min.css" rel="stylesheet" />
    <link href="~/Content/Bootstrap/prettyPhoto.css" rel="stylesheet" />
    <link href="~/Content/Bootstrap/main.css" rel="stylesheet" />
    @*<link href="~/Content/Bootstrap/responsive.css" rel="stylesheet" />*@
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Scripts/jtable/themes/metro/blue/jtable.css")" rel="stylesheet" type="text/css" />

    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/jquery-1.7.1.min.js")

    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.js")" type="text/javascript"></script>

    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript" src="@Url.Content("~/Scripts/jtable/jquery.jtable.js")"></script>
    <script src="~/Scripts/jtable/localization/jquery.jtable.es.js"></script>
</head>
<body>
    <header>
        <div id="summary">
            <div id="iconoMensaje"></div>
                <div id="mensajeUsuario">
                    <label></label>
                </div>
                <div id="mensajeTecnico">
                    <label></label>

                </div>
        </div>

        <script type="text/javascript">
            $('#summary').hide();
        </script>

        <script type="text/javascript">

            $(document).ready(function () {

                setTimeout(function () {

                    $("#summary").fadeOut(1500);

                }, 3000);

            });

        </script>
        @*<table>
            <tr>
                <td rowspan="2">[ÍCONO]</td>
                <td>Este es un mensaje para el usuario.</td>
            </tr>
            <tr>
                <td>Este es un mensaje con la información técnica de la situación presentada.</td>
            </tr>
        </table>*@
        <script type="text/javascript">
            function LimpiarCampos() {
                $('input').each(function () {
                    if (typeof ($(this).attr('clean')) == 'undefined' || $(this).attr('clean').toLowerCase() === 'true') {

                        if ($(this).attr('type') == 'text' || $(this).attr('type') == 'textarea' || $(this).attr('type') == 'hidden') {
                            $(this).val('');
                        }
                        else if ($(this).attr('type') == 'checkbox') {
                            $(this).attr('checked', false);
                        }
                    }
                });

                $('select').each(function () {
                    var idSelect = $(this).attr('id');

                    if (typeof ($(this).attr('clean')) == 'undefined' || $(this).attr('clean').toLowerCase() === 'true') {
                        $('#' + $(this).attr('id') + " option").each(function () {
                            if ($(this).text() == '@Etiquetas.GenSeleccionar') {
                            $('#' + idSelect).val('@Etiquetas.GenSeleccionar');

                            return false;
                        }
                    });
                }
            });

            $('textarea').each(function () {
                var idSelect = $(this).attr('id');

                if (typeof ($(this).attr('clean')) == 'undefined' || $(this).attr('clean').toLowerCase() === 'true') {
                    $(this).val('');
                }
            });
        }

        function MostrarMensaje(mensajeUsuario, mensajeTecnico, tipoMensaje) {

            if (tipoMensaje != "") {

                if (!tipoMensaje) {
                    $('#iconoMensaje').addClass('C');
                }
                else if (tipoMensaje == 'A') {
                    $('#iconoMensaje').addClass('precaucion');
                }
                else if (tipoMensaje == 'C') {
                    $('#iconoMensaje').addClass('confirmacion');
                    $('#mensajeUsuario').addClass('confirmacion');
                    $('#summary').addClass('confirmacion');
                }
                else if (tipoMensaje == 'I') {
                    $('#iconoMensaje').addClass('informacion');
                    $('#mensajeUsuario').addClass('informacion');
                    $('#summary').addClass('informacion');
                }
                else if (tipoMensaje == 'E') {
                    $('#iconoMensaje').addClass('error');
                    $('#mensajeUsuario').addClass('error');
                    $('#summary').addClass('error');
                }

                if (!mensajeUsuario) {
                    $('#summary').hide();
                }
                else {
                    mensajeUsuario = mensajeUsuario.replace('&#193;', 'Á');
                    mensajeUsuario = mensajeUsuario.replace('&#225;', 'á');

                    mensajeUsuario = mensajeUsuario.replace('&#201;', 'É');
                    mensajeUsuario = mensajeUsuario.replace('&#233;', 'é');

                    mensajeUsuario = mensajeUsuario.replace('&#205;', 'Í');
                    mensajeUsuario = mensajeUsuario.replace('&#237;', 'i');

                    mensajeUsuario = mensajeUsuario.replace('&#211;', 'Ó');
                    mensajeUsuario = mensajeUsuario.replace('&#243;', 'ó');

                    mensajeUsuario = mensajeUsuario.replace('&#218;', 'Ú');
                    mensajeUsuario = mensajeUsuario.replace('&#250;', 'ú');

                    mensajeUsuario = mensajeUsuario.replace('&#209;', 'Ñ');
                    mensajeUsuario = mensajeUsuario.replace('&#241;', 'ñ');

                    mensajeUsuario = mensajeUsuario.replace('&#39;', "'");

                    $('#mensajeUsuario').text(mensajeUsuario);
                }

                if (!mensajeTecnico) {
                    $('#mensajeTecnico').text('');
                }
                else {
                    $('#mensajeTecnico').text(mensajeTecnico);
                    $('#iconoMensaje').addClass('error');
                }

                $('#summary').show();
            }
        }

        </script>
    </header>

    <div id="body">
        @RenderSection("featured", required: false)

        @*<section>
            <div id="pizarraMensaje">
                <div id="iconoMensaje"></div>
                <div id="mensajeUsuario">
                    <label></label>
                </div>
                <div id="mensajeTecnico">
                    <label></label>

                </div>
            </div>

            <script>
                $('#pizarraMensaje').hide();
            </script>*@

     @*       @RenderBody()
        </section>*@
    </div>
@*     <div>
        @RenderSection("featured", required: false)
    </div>*@

    <div>
        @RenderBody()
    </div>
    @* <div id="divMostrarDatosDeAuditoria">
        <table>
        <tr>
            <td>
                <ol class="encabezadoInformacion">
                    <li style="background-image: none;">
                        <table>
                            <tr>
                                <td style="width: 160px;">
                                    <label>Ingresado por</label>
                                </td>
                                <td>
                                    <span id="usrIngreso"></span>
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li style="background-image: none;">
                        <table>
                            <tr>
                                <td style="width: 160px;">
                                    <label>Fecha de ingreso</label>
                                </td>
                                <td>
                                    <span id="fecIngreso"></span>
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li style="background-image: none;">
                        <table>
                            <tr>
                                <td style="width: 160px;">
                                    <label>Modificado por</label>
                                </td>
                                <td>
                                    <span id="usrModifico"></span>
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li style="background-image: none;">
                        <table>
                            <tr>
                                <td style="width: 160px;">
                                    <label>Última modificación</label>
                                </td>
                                <td>
                                    <span id="fecModifico"></span>
                                </td>
                            </tr>
                        </table>
                    </li>
                </ol>
            </td>
        </tr>
    </table>
    </div>*@
    @RenderSection("scripts", required: false)
</body>
</html>
